* text=auto
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.tex text eol=lf
*.marginpkg filter=lfs diff=lfs merge=lfs -text
*.marginnotes filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
